@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: 'Playfair Display', serif;
}

header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 99;
  box-shadow: 0 0 10px #000;
  background-color: rgb(242, 242, 242);
}

#chk1 {
  display: none;
}

i {
  color: black;
  cursor: pointer;
}

header .logo img {
  height: 5rem;
  margin-left: 5rem;
}

.clock-container #clock {
  font-size: 1.5rem;
  margin-left: 3rem;
}

header ul {
  flex: 2;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

header ul li {
  list-style: none;
}

header ul li a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  text-transform: uppercase;
  padding: 10px 15px;
}

header ul li a:hover {
  border-bottom: 2px solid green;
}

header .menu {
  font-size: 2.5em;
  display: none;
}

/*responsive tasarım*/
@media(max-width:1050px) {

  header ul {
    position: fixed;
    top: 100px;
    right: -100%;
    background-color: rgb(242, 242, 242);
    height: calc(100vh - 100px);
    /*aşağı doğru bütün sayfayı kaplamasını sağlar*/
    width: 50%;
    flex-direction: column;
    align-items: center;
    transition: right 0.5s linear;
  }

  header .menu {
    display: block;
    width: 90px;
    text-align: center;
  }

  #chk1:checked~ul {
    right: 0;
  }
  header .logo img{
    margin-right: 100px;
  }

}

.home {
  min-height: 100vh;
  background: url(../images/home.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home .content {
  max-width: 60rem;
  text-align: center;
}

.home .content p {
  font-size: 4rem;
  margin: 5rem 0;
}

.buton1 {
  display: inline-block;
  padding: 2rem 3.75rem;
  border-radius: 40rem;
  font-size: 1rem;
  color: white;
  cursor: pointer;
  background-color: black;
  text-decoration: none;
}

/*!HOME END*/

.heading {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 20px auto;
}

.heading h1 {
  font-size: 50px;
  color: #000;
  margin-bottom: 25px;
  position: relative;
}

.heading h1::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  display: block;
  margin: 0 auto;
  background-color: #4caf50;
}

.container {
  width: 90%;
  margin: 0 auto;
  padding: 10px 20px;
}

.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.about-image {
  flex: 1;
  margin-right: 40px;
  overflow: hidden;
}

.about-image img {
  max-width: 100%;
  height: auto;
  display: block;
  transition: 0.5s ease;
}

.about-image:hover img {
  transform: scale(1.2);
}

.about-content {
  flex: 1;
}

.about-content h2 {
  font-size: 23px;
  margin-bottom: 15px;
  color: #333;
}

.about-content p {
  font-size: 18px;
  line-height: 1.5;
  color: #666;
}

.about-content .read-more {
  display: inline-block;
  padding: 10px 20px;
  color: #ffffff;
  font-size: 19px;
  text-decoration: none;
  background-color: #000;
  border-radius: 25px;
  margin-top: 15px;
  transition: 0.3 ease;
}

@media (max-width:1100px) {
  .heading {
    padding: 0 20px;
  }

  .heading h1 {
    font-size: 36px;
  }

  .heading p {
    font-size: 17px;
    margin-bottom: 0px;
  }

  .container {
    padding: 0px;
  }

  .about {
    padding: 20px;
    flex-direction: column;
  }

  .about-image {
    margin-right: 0px;
    margin-bottom: 20px;
  }

  .about-content p {
    padding: 0px;
    font-size: 16px;
  }

  .about-content .read-more {
    font-size: 16px;
  }
}

.icons .fas .fa-bars {
  display: block;
  cursor: pointer;
}

.title {
  display: flex;
  align-items: center;
  text-align: center;
  color: #333;
  font-size: 2.5rem;
  margin-bottom: 3rem;
  margin-top: 4rem;
  padding: 1.2rem 0;
  border-bottom: #c3c3c3;
  margin-left: 6%;
}


.category h1 {
  border-bottom: .1rem solid rgba(0, 0, 0, .1);
}

span {
  padding-left: .5rem;
}

.category .box-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 4rem 0;
  gap: 6rem;
}

.box {
  text-align: center;

}

.box-container .box img {
  height: 15rem;
  border-radius: 50%;
}

.box-container a {
  text-decoration: none;
}

.box-container .box h3 {
  font-size: 2rem;
  margin: 1rem 0;
  color: #666;
}

.box-container h3:hover {
  color: green;
}

.footer {
  background-color: #414141;
  width: 100%;
  text-align: left;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 16px;
  padding: 50px;
  margin-top: 50px;
}

.footer .footer-left,
.footer .footer-center,
.footer .footer-right {
  display: inline-block;
  vertical-align: top;
}


/* footer left*/

.footer .footer-left {
  width: 33%;
  padding-right: 15px;
}

.footer .about {
  line-height: 20px;
  color: #ffffff;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer .about span {
  margin-top: 1rem;
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer .icons {
  margin-top: 25px;
}

.footer .icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
}


/* footer center*/

.footer .footer-center {
  width: 30%;
}

.footer .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer .footer-center p {
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin: 0;
}

.footer .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer .footer-center p a {
  color: #006600;
  text-decoration: none;
}


/* footer right*/

.footer .footer-right {
  width: 35%;
}

.footer h2 {
  color: #ffffff;
  font-size: 36px;
  font-weight: normal;
  margin: 0;
}

.footer .menu {
  color: #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer .menu a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}

.footer .menu a:hover {
  color: #006600;
}

.footer .name {
  color: #006600;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}



@media (max-width: 800px) {
  .footer {
    font-size: 14px;
  }

  .footer .footer-left,
  .footer .footer-center,
  .footer .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer .footer-center i {
    margin-left: 0;
  }
}