*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.myForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: 160px auto;
  padding: 20px;
  border-radius: 5px;
  background-color: rgba(85 ,107 ,47 ,0.854);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.input_container {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
}
.radio-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  background-color: black;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 16px;
}
.main-popup{
  background: rgba(85 ,107 ,47 ,0.854);
  position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
}
	   
.popup{ 
  position: relative;
	width: 100%;
	max-width: 350px;
	margin: auto;  
	margin-top: 200px;
	padding: 40px 30px 35px;
  text-align: center;
  color: black;
	background: white;
  border-radius: 5px;
}
	   
.popup a{
 background: rgba(0, 0, 0, 0.718);
 color: white;
 padding: 7px 11px;
 text-decoration: none;
 border-radius:5px ;
 font-size: 15px;
}
.popup-close{
  position: absolute;
  cursor: pointer;
  top: 3px;
  right: 7px;
 }
 