
  @import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins&display=swap');
 
body{
  font-family: 'Playfair Display', serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header .header-item{
  margin-bottom: 4rem ;
  margin-top: 2rem;
  display: flex;
}

.Questions{
  max-width: 600px;
  margin: 20px auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  }

  button{
   display: block;
   margin: 20px auto;
   background-color: gray;
   color: white;
   border: 0;
       border-radius: 5px;
   padding: 7px 10px;
   }
   button:hover{
  border: solid 1px black;
  background-color: black;
   }
   
   .main-popup{
    background:url(../images/win.jpg) no-repeat;
    background-size: cover;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   display: none;
   }
   
   .popup{  
   text-align: center;
   width: 100%;
   max-width: 350px;
   margin: auto;  
   margin-top: 200px;
background-color: #cccccc;
   position: relative;
       color: black;
      
   }
   
   .popup a{
   background: #004d00;
   color: white;
   padding: 7px 11px;
   text-decoration: none;
   border-radius:5px ;
   font-size: 15px;
   }
   .popup img{
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 75%;
    object-fit: cover;
    object-position: center;
  
   }
   .popup-content {
    position: absolute;
    top: 45%;
    left: 48%;
    transform: translate(-50%, -50%);
  }
  
   .popup-close{
   position: absolute;
   cursor: pointer;
   top: 4px;
   right:7px;
   }